body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-image: linear-gradient(
    125deg,
    #2c3e50,
    #27ae60,
    #2890b9,
    #e74c3c,
    #8e44ad
  );
  background-size: 400%;
  animation: bganimations 15s infinite;
}
@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
